@model EventFlow.Models.Evento

@{
    ViewData["Title"] = "Criar Evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1 class="page-title">Criar Novo Evento</h1>
</div>

<div class="form-container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <h4>Detalhes do Evento</h4>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label">Nome <span class="required">*</span></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Data" class="control-label">Data <span class="required">*</span></label>
                    <input asp-for="Data" type="datetime-local" class="form-control" />
                    <span asp-validation-for="Data" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QuantidadeParticipantes" class="control-label">Quantidade de Participantes <span class="required">*</span></label>
                    <input asp-for="QuantidadeParticipantes" class="form-control" />
                    <span asp-validation-for="QuantidadeParticipantes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Preco" class="control-label">Preço <span class="required">*</span></label>
                    <input asp-for="Preco" type="number" step="0.01" class="form-control" />
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrevisaoClimatica" class="control-label">Previsão Climática <span class="required">*</span></label>
                    <input asp-for="PrevisaoClimatica" class="form-control" />
                    <span asp-validation-for="PrevisaoClimatica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrganizadorId" class="control-label">Organizador <span class="required">*</span></label>
                    <select asp-for="OrganizadorId" class="form-control" asp-items="ViewBag.OrganizadorId"></select>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Endereço</h4>
                <div class="form-group">
                    <label asp-for="Endereco.CEP" class="control-label">CEP <span class="required">*</span></label>
                    <input asp-for="Endereco.CEP" class="form-control" />
                    <span asp-validation-for="Endereco.CEP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Endereco.Logradouro" class="control-label">Logradouro <span class="required">*</span></label>
                    <input asp-for="Endereco.Logradouro" class="form-control-readonly" readonly />
                    <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Endereco.Numero" class="control-label">Número <span class="required">*</span></label>
                    <input asp-for="Endereco.Numero" class="form-control" />
                    <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Endereco.Complemento" class="control-label">Complemento</label>
                    <input asp-for="Endereco.Complemento" class="form-control" />
                    <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Endereco.Bairro" class="control-label">Bairro <span class="required">*</span></label>
                    <input asp-for="Endereco.Bairro" class="form-control-readonly" readonly />
                    <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Endereco.Localidade" class="control-label">Localidade <span class="required">*</span></label>
                    <input asp-for="Endereco.Localidade" class="form-control-readonly" readonly />
                    <span asp-validation-for="Endereco.Localidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Endereco.UF" class="control-label">UF <span class="required">*</span></label>
                    <input asp-for="Endereco.UF" class="form-control-readonly" readonly />
                    <span asp-validation-for="Endereco.UF" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Salvar Evento</button>
            <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Quando o campo CEP perder o foco
            $('#Endereco_CEP').blur(function () {
                var cep = $(this).val().replace('-', ''); // Remover o hífen do CEP
                if (/^\d{8}$/.test(cep)) {  // Verifica se o CEP tem 8 dígitos
                    $.ajax({
                        url: `https://viacep.com.br/ws/${cep}/json/`,
                        method: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            if (data && !data.erro) {
                                // Preencher os campos de endereço com a resposta da API
                                $('#Endereco_Logradouro').val(data.logradouro);
                                $('#Endereco_Bairro').val(data.bairro);
                                $('#Endereco_Localidade').val(data.localidade);
                                $('#Endereco_UF').val(data.uf);
                            } else {
                                alert("CEP não encontrado.");
                            }
                        },
                        error: function () {
                            alert("Erro ao buscar CEP.");
                        }
                    });
                }
            });
        });
    </script>
}
